[Unit]
Description=NotSoLong Podman
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/notsolong-deploy
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%h/notsolong-deploy/.env.prod
ExecStart=/usr/bin/podman compose -f podman-compose.yml up --remove-orphans
ExecStop=/usr/bin/podman compose -f podman-compose.yml down
Restart=on-failure
RestartSec=5s
TimeoutStartSec=0
TimeoutStopSec=120

[Install]
WantedBy=default.target
